.footer {
    height: 350px;
    background: #fff;
    width: 100%;
    max-width: 100vw;
}

.footer-content {
    max-width: 1000px;
    margin: 0 auto;
    /* margin: 0 auto; */
    display: flex;
    flex-direction: column;
    height: 350px;
    background: #fff;
}

.footer-top {
    padding-top: 40px;
    flex: 1;
}

.footer-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.footer-link-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-link-column ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.footer-link-column ul li {
    color: #5b5b5b;
    margin-top: 10px;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    border-top: 1px solid #e4e4e4;
}

